aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
bcrypt==3.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
click==7.1.2
discord.py==1.0.0a0
dnspython==2.2.0
email-validator==1.1.3
fake-useragent==0.1.11
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
get==2018.11.19
greenlet==1.1.2
idna==2.8
importlib-metadata==4.10.1
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.2.5
MarkupSafe==1.1.1
multidict==4.5.2
numpy==1.20.0
post==2018.11.20
public==2018.11.20
pycparser==2.19
pygame==2.0.1
PyNaCl==1.2.1
query-string==2018.11.20
request==2018.11.20
requests==2.21.0
six==1.12.0
SQLAlchemy==1.4.31
typing_extensions==4.0.1
urllib3==1.24.1
websockets==6.0
Werkzeug==1.0.1
WTForms==3.0.1
yarl==1.3.0
zipp==3.7.0
