{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">

    <div class="col">
      <h1 class="text-center">Gym owner</h1>
      <p class="font-weight-bold">As a gym owner you can<p>
      <ul>
        <li>Create posts gym and broadcast to students</li>
        <li>Upload photo and video posts and select which students can view</li>
        <li>approve students enrolling in your gym</li> 
        <li>Have your gym ranked accross BJJConnect</li>
      </ul>
    </div> 
    <div class="col"> 
      <h1>Student</h1>
    </div>

{% endblock content %}
