{% extends "layout.html" %}
{% block content %}

  <h1>{{ user.username }} - Profile</h1>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-control-label") }}   

      {% if form.username.errors %}
        {{ form.username(class="form-control is-invalid", placeholder=user.username) }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
            <span>{{ error }}</span>
          {% endfor %}
      {% else %}
        {{ form.username(class="form-control", placeholder=user.username) }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}   

      {% if form.email.errors %}
        {{ form.email(class="form-control is-invalid", placeholder=user.email) }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
      {% else %} 
        {{ form.email(class="form-control", placeholder=user.email) }}
      {% endif %} 
    </div>
    
    <div class="form-group">
      {{ form.bio.label(class="form-control-label") }}   

      {% if form.bio.errors %}
        {{ form.bio(class="form-control is-invalid", placeholder=user.bio) }}
        <div class="invalid-feedback">
          {% for error in form.bio.errors %}
            <span>{{ error }}</span>
          {% endfor %}
      {% else %} 
        {{ form.bio(class="form-control", placeholder=user.email) }}
      {% endif %} 
    </div>

    <div class="form-group">
      {{ form.password.label(class="form-control-label") }}

      {% if form.password.errors %}
        {{ form.password(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
      {% else %}
        {{ form.password(class="form-control") }}
      {% endif %} 
    </div>

    <div class="form-group">
      {{ form.gym.label(class="form-control-label") }}

      {% if form.gym.errors %}
        {{ form.gym(class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
      {% else %}
        {{ form.gym(class="form-control") }}
      {% endif %} 
    </div>

    <div class="form-group"> 
      {{ form.belt.label(class="form-control-label") }}
      {{ form.belt(class="form-control") }}
      </select>
    </div>

    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
      <a class="btn btn-danger" href="{{url_for('logout') }}">Logout</a>
  </form>
</div>
{% endblock content %}
