@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: white
}

#heading {
  font-size: 400%;
}

#notfound {
  font-size: 400%;
  font-weight: 900
}

#notfoundimg {
  max-width: 20%
}

.jumbotron {
  background-color: #77aae0;
  color: white;
  
}

.btn-primary {
  background-color: #77E079;
  border-color: #77AAE0;
}

.btn-primary:hover {
  background-color: #4D90D7;
}


